{% extends 'template_base.html' %}

{% block body %}
<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            
                            <h3 class="text-center font-weight-light my-4">Login</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">User</label>
                                    <input type="text" class="form-control" name="username" id="id_user" placeholder="Username" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block">Login</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<br>
{% endblock %}